doctype html
html
  head
  link(href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,300italic' rel='stylesheet' type='text/css')
  body
  .header

    .logo
      img(src='images/ai-full.png')

    .nav
      ul(class='menu')
        li Uses
        li Pricing
        li Signup
        li Contact
  .banner
    img(src='images/tvmockupad.png')
    .signup
      p Afterimage is beautifully simple application that allows you to control the content on <span class='underline'>every digital display</span> in your business simultaneously. Whether you are a restaurant in need of scrolling advertisements or a lab who wants to display custom analytics Afterimage gives you the access to show any custom data. See our <span class='underline'>list of integrations.</span>
      .btn.
        Signup
  .uses
    .uses-left
      .usecase
        .icon
        .blocktext
      .usecase
        .icon
        .blocktext
      .usecase
        .icon
        .blocktext
    .uses-right
