@import 'yeticss'
@import 'font-awesome/_font-awesome'
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts"

.header
  height 275px
  overflow hidden
  background-color #77898e
  background-image url('/images/vr-bg.png')
  background-size cover

html.cssfilters > body > .page > .header > .logo > .img-container > .blur
  position absolute
  background-color #F3F4FF
  -webkit-filter blur(75px)
  -moz-filter blur(75px)
  -ms-filter blur(75px)
  -o-filter blur(75px)
  filter url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='svgBlur' x='-5%' y='-5%' width='110%' height='110%'><feGaussianBlur in='SourceGraphic' stdDeviation='5'/></filter></svg>#svgBlur")
  @css filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius = '75');
  filter blur(75px)
  width 100%
  height 100%
  top 0
  left 0

.logo
  position absolute
  width 100%
  z-index 200
  padding 70px
  .img-container
    position relative
    display inline-block
    width 420px
    margin 0 auto
    height 90px
  img
    position absolute
    width 420px
    top 0
    left 0


.nav
  position absolute
  z-index 300
  width 100%
  .login
    float right
    padding 15px
    a
      margin-left: 15px
      color: white
      
#header-vr
  position relative
  height 500px
  width 100%
  border none

.vr-container
  width 100%
  height 100%
  display none

.vr-cover-img
  z-index 300
  position absolute
  top 0
  left 0
  height 275px

.tagline
  font-size 32px

.icon
  width 75px

.hardware
  width 100px

.integration
  min-width 50px
  max-width 65px

.pricing
  tbody tr:nth-child(2n-1)
    background inherit

.pricing.mobile-width
  display none

.pricing td, .pricing th
  text-align center

#pricing-select > input 
    margin-right 5px
    margin-left 25px

#pricing-select
    padding-bottom 20px

.bordered-row > td
  border 1px solid #e6eaed !important

.center
  text-align center

.footer
  background-color black
  color white
  padding 20px
  padding-top 45px
  font-size 1.1em

  .contact-links
    left 30px
    position relative

    span.link
      margin 15px
      &:after
        content "||"
        margin-left 30px
        color white
      &:first-child:before
        content "     "
      &:last-child:after
        content ""
    a
      margin 0

  a 
    margin 23px

.container-documentation
  text-align left

@media screen and (max-width: 875px)
  .integrations .grid-flex-cell
    flex 25%

@media screen and (max-width: 575px)
  .logo
    .img-container
      padding-top 40px
      width 100%
    img
      width 100%
      padding-top 40px

  .pricing.full-width
    display none
  .pricing.mobile-width
    display table

  .footer
    .contact-links
      left 0
      span.link
        &:after
          content " "
        &:first-child:before
          content " "
        &:last-child:after
          content " "
        display block
        width 100%




@font-face {
  font-family: 'FontAwesome';
  src: url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot');
  src: url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
       url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
       url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
