body {
  font-family: "Helvetica";
  text-align: center;
  background: #fff;
  color: #444;
  margin: 0;
}
h1 {
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
  font-family: 'Lato', sans-serif;
}
h3 {
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
p,
li {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.header {
  background-color: #D4D9DA;
}
.header .logo {
  width: 180px;
  left: 30px;
  top: 20px;
  position: relative;
}
.header .logo img {
  width: 100%;
}
.header .nav ul {
  position: absolute;
  right: 30px;
  top: 20px;
  color: #4C737B;
}
.header .nav li {
  display: inline;
  list-style-type: none;
  padding: 0px 10px;
}
.header .nav li:hover {
  background-color: #4C737B;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.banner {
  background-color: #D4D9DA;
  padding-bottom: 50px;
}
.banner img {
  width: 100%;
}
.banner .signup {
  margin-left: 12%;
  width: 700px;
}
.banner .signup p {
  color: #3F2F47;
  text-align: left;
  padding: 0px 11px 30px 0px;
  width: 600px;
  line-height: 1.5;
}
.banner .signup p .underline {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.banner .signup .btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #f09e57;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 24%;
  margin: 0 auto;
  float: left;
  border: 1px solid;
  border-color: #f09e57;
}
.banner .signup .btn:hover {
  background: #de8039;
  text-decoration: none;
  cursor: pointer;
}
.uses .uses-right {
  float: right:
    width: 50%;
}
/******* Media Queries ********/
@media (max-width: 768px) {
  .header {
    height: 75px;
  }
  .header .logo {
    margin: 0 auto;
    width: 120px;
    left: 0px;
    top: 10px;
  }
  .header .nav {
    width: 100%;
    position: relative;
  }
  .header .nav ul {
    right: 0px;
    padding: 10px 0px;
  }
  .header .menu {
    width: 100%;
    background-color: #aac9c0;
    margin: 0 auto;
  }
  .header .menu li {
    color: #3F2F47;
  }
  .header .menu li:hover {
    color: #74617D;
    background-color: transparent;
    cursor: pointer;
  }
  .banner .signup {
    margin: 0;
    width: 100%;
  }
  .banner .signup p {
    text-align: center;
    margin: 0 auto;
    width: auto;
    padding: 20px 50px;
  }
  .banner .signup .btn {
    margin: 0 auto;
    float: none;
  }
}
