doctype
html
  head
    link(rel="stylesheet" href="css/main.css")
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/min/1.5/min.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Afterimage | Digital Displays and Kiosks
  body
    != yield