body
  .page
    .header
      .logo
        .img-container
          .blur
          img(src="images/ai-full.png")
      .nav
        .login
          a(href="https://afterimage-staging.herokuapp.com/management/") Log In
          a.button.button-outlined(href="https://afterimage-staging.herokuapp.com/management/sign-up") Sign Up
      iframe#header-vr(src="/vr.html", allowTransparency="true")

    .container
      p 
      .grid-flex-container
        .grid-flex-cell
          h2 Afterimage is the easiest way to display your content on any screen.

      .grid-flex-container
        .grid-flex-cell
          img.icon(src="images/content.svg")
          h3 Rich Content
          p Bring the content you already have to all your screens.
        .grid-flex-cell
          img.icon(src="images/computer.svg")
          h3 Extensible
          p Leverage our platform to the limits of your imagination.
        .grid-flex-cell
          img.icon(src="images/videocamera.svg")
          h3 Partnerships
          p Work with us to create dynamic content and display experiences.

      hr
      
      .grid-flex-container
        .grid-flex-cell
          h2 Web-based Management
          p Manage your screens from any device, anytime.
          img(src="images/laptop.png")

      hr

      .grid-flex-container
        .grid-flex-cell
          h2 Bring Your Own Content
      .grid-flex-container
        .grid-flex-cell
          a(href="http://youtube.com")
            img.integration(src="images/logos/youtube.png")
        .grid-flex-cell
          a(href="http://drive.google.com")
            img.integration(src="images/logos/g-drive.png")
        .grid-flex-cell
          a(href="http://slides.google.com")
            img.integration(src="images/logos/g-slides.png")
        .grid-flex-cell
          a(href="http://slides.com")
            img.integration(src="images/logos/slides.png")
        .grid-flex-cell
          a(href="http://vimeo.com")
            img.integration(src="images/logos/vimeo.png")
        .grid-flex-cell
          a(href="http://twitter.com")
            img.integration(src="images/logos/twitter.png")
        .grid-flex-cell
          a(href="http://vine.com")  
            img.integration(src="images/logos/vine.png")
        .grid-flex-cell
          a(href="http://prezi.com")
            img.integration(src="images/logos/prezi.png")
      .grid-flex-container
        .grid-flex-cell
          p Add content from our growing list of integrations, or write your own custom integration to have full control.

      hr
      br

      .grid-flex-container
        .grid-flex-cell
          h2 Manage Screens Once, Display Everywhere
          img(src="images/ai_channel_distribution.png")

      hr
      br

      .grid-flex-container
        .grid-flex-cell
          h2 Works on any HDMI-enabled display
          p Afterimage proudly offers Chrome hardware.

      .grid-flex-container
        .grid-flex-cell
          img.hardware(src="images/chromebit.jpg")
          h2 Chromebit
        .grid-flex-cell
          img.hardware(src="images/chromebox.jpg")
          h2 Chromebox
        .grid-flex-cell
          img.hardware(src="images/chromebase.jpg")
          h2 Chromebase

      hr

      .grid-flex-container
        .grid-flex-cell
          h2 Sign Up
          p Sign up for an Afterimage account, and we'll give you a call to get things started.
          a.button(href="https://afterimage-staging.herokuapp.com/management/sign-up") Start Here!
          p

    .footer
      p.center © Afterimage, LLC. <br>
        | 710 George Washington Way, <br>
        | Richland, WA. 99352