#container
  .header

    .logo
      img(src='images/ai-full.png')

    .nav
      ul(class='menu')
        li Uses
        li Pricing
        li Signup
        li Contact
  .banner
    img(src='images/tvmockupad.png')
    .signup
      p Afterimage is beautifully simple application that allows you to control the content on <span class='underline'>every digital display</span> your business needs. Whether you are a restaurant in need of patron advertisements or a lab who wants to display custom analytics, Afterimage gives you the seamless access to use your screens to their full potential. See our <span class='underline'>list of integrations.</span>
      .btn.
        Signup
  .uses
    .uses-left
      .usecase
        .icon
        .blocktext
      .usecase
        .icon
        .blocktext
      .usecase
        .icon
        .blocktext
    .uses-right
