body
  .page
    .header
      .logo
        .img-container
          .blur
          img(src="images/ai-full.png")
      .nav
        .login
          a(href="/management") Log In
          a.button.button-outlined(href="/management/register") Sign Up
      iframe#header-vr(src="/vr.html", allowTransparency="true")

    .container
      p 
      .grid-flex-container
        .grid-flex-cell
          h2 Afterimage is the easiest way to make custom interactive displays for kiosks and signage.

      .grid-flex-container
        .grid-flex-cell
          img.icon(src="images/content.svg")
          h3 Rich Content
          p Bring the content you already have to all your screens.
        .grid-flex-cell
          img.icon(src="images/computer.svg")
          h3 Extensible
          p Leverage our platform to the limits of your imagination.
        .grid-flex-cell
          img.icon(src="images/videocamera.svg")
          h3 Partnerships
          p Work with us to create dynamic content and display experiences.

      hr
      
      .grid-flex-container
        .grid-flex-cell
          h2 Web-based Management
          p Manage your screens from any device, anytime.
          img(src="images/laptop.png")

      hr

      .grid-flex-container
        .grid-flex-cell
          h2 Works on any HDMI port
          p Afterimage proudly offers Chrome hardware.

      .grid-flex-container
        .grid-flex-cell
          img.hardware(src="images/chromebit.jpg")
          h2 Chromebit
        .grid-flex-cell
          img.hardware(src="images/chromebox.jpg")
          h2 Chromebox
        .grid-flex-cell
          img.hardware(src="images/chromebase.jpg")
          h2 Chromebase

      hr

      .grid-flex-container
        .grid-flex-cell
          h2 Sign Up
          p Sign up for an Afterimage account, and we'll give you a call to get things started.
          a.button(href="/management/register") Start Here!
          p

    .footer
      p.center © Afterimage, LLC. <br>
        | 710 George Washington Way, <br>
        | Richland, WA. 99352