body
  .page
    .header
      .logo
        .img-container
          .blur
          img(src="images/ai-full.png")
      .nav
        .login
          a(href="/pricing") Pricing
          a(href="https://app.afterimage.io/") Log In
          a.button.button-outlined(href="https://app.afterimage.io/sign-up") Sign Up
      iframe#header-vr(src="/vr.html", allowTransparency="true")

    .container
      p 
      .grid-flex-container
        .grid-flex-cell
          h1.tagline Sign up for the Easiest Signage.


      .grid-flex-container
        .grid-flex-cell
          a.button(href="https://app.afterimage.io/sign-up") Create my Account

      hr

      .grid-flex-container
        .grid-flex-cell
          img.icon(src="images/content.svg")
          h3 Rich Content
          p Bring the content you already have to all your screens.
        .grid-flex-cell
          img.icon(src="images/computer.svg")
          h3 Extensible
          p Leverage our platform to the limits of your imagination.
        .grid-flex-cell
          img.icon(src="images/videocamera.svg")
          h3 Partnerships
          p Work with us to create dynamic content and display experiences.

      hr

      .grid-flex-container
        .grid-flex-cell
          h2 Web-based Management
          p Manage your screens from any device, anytime.
          img(src="images/laptop.png")


      .grid-flex-container
        .grid-flex-cell
          h2 Almost Zero Steps
          
          p Bring the marketing content you already have to the easiest signage management platform. Extend the functionality of your screens with our custom application platform, and work with our partner network to create screen-ready marketing content without the hassle.

          p Sign up for an Afterimage account, and we'll give you a call to get things started.
          a.button(href="https://app.afterimage.io/sign-up") Create my Account
          p

    .footer
      p.center 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        a(href="tel:+1 541 705 5427") +1 541 705 5427
        span &nbsp;&nbsp;||&nbsp;&nbsp; 
        a(href="/sdk") SDK
        span &nbsp;&nbsp;||&nbsp;&nbsp; 
        a(href="mailto:admin@afterimage.io") admin@afterimage.io

      p.center © Afterimage, LLC. <br>
        | 710 George Washington Way, <br>
        | Richland, WA. 99352

      p.center
        a(href="https://twitter.com/afterimage_io")
          i(class="fa fa-twitter" aria-hidden="true")
        &nbsp;
        &nbsp;
        a(href="https://facebook.com/afterimage.io") 
          i(class="fa fa-facebook" aria-hidden="true")
        &nbsp;
        &nbsp;
        a(href="https://instagram.com/afterimage_io") 
          i(class="fa fa-instagram" aria-hidden="true")
